


/* ¾Æ¸®µûµ¸¿ò */
@font-face { 
font-family: 'Arita-dotum-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); 
font-size:13px;
font-weight: 500; 
font-style: normal; 
}


* {
    font-family: 'Arita-dotum-Medium';
}